<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body>
<h2>Заказы</h2>
<table class="table">
    <thead class="text-white">
    <tr>
        <th class="bg-success" scope="cool">Id</th>
        <th class="bg-success" scope="cool">Номер</th>
        <th class="bg-success" scope="cool">Тип печати</th>
        <th class="bg-success" scope="cool">Номер машины</th>
        <th class="bg-success" scope="cool">Статус</th>
        <th class="bg-success" scope="cool">Дата создания</th>
        <th class="bg-success" scope="cool">План печати</th>
        <th class="bg-success" scope="cool">Дата печати</th>
        <th class="bg-success" scope="cool">Дата закрытия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order: ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.number}"></td>
        <td th:text="${order.printType}"></td>
        <td th:text="${order.machineId}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.createdAt}"></td>
        <td th:text="${order.planAt}"></td>
        <td th:text="${order.startedAt}"></td>
        <td th:text="${order.endedAt}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>